<ion-content id="mapId2">
    <ion-header>
        <ion-tab-bar slot="top" >
            <ion-tab-button tab="back" (click)="goBack()">
                <ion-icon id="back" name="arrow-dropleft"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="Locate Me" (click)="locatePosition()">
                <ion-icon id="icon" name="pin"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="Ricerca Città"  (click)="research()">
                <ion-icon id="search" name="search"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-header>
</ion-content>
