 <div id="search">
        <ion-searchbar autocomplete="" placeholder="{{'Inserire il nome della città' | translate}}" color="light" padding-top>
            <ion-icon id="icon" name="pin" size="small" (click)="locatePosition()"></ion-icon>
        </ion-searchbar>
 </div>
 <ion-content id="mapId2">
<!--     <ion-item *ngFor="let parcheggio of parcheggio$ | async " [routerLink]="['/maps', parcheggio.latitude, parcheggio.longitude]" routerDirection="forward" detail="true">-->
<!--         <span>{{newMarker[parcheggio.latitude, parcheggio.longitude]}}</span>-->
<!--     </ion-item>-->
 </ion-content>
