/* Default icon URLs */
.leaflet-default-icon-path {
  background-image: url(../../../assets/icon/marker-icon.png);
}

.leaflet-default-shadow-path {
  background-image: url(../../../assets/icon/marker-shadow.png);
}

.leaflet-default-icon2-path {
  background-image: url(../../../assets/icon/marker-icon-2x.png);
}

.leaflet-popup-content {
  width: auto !important;
}


#mapId2 {
  height: 100%;
  width: 100%;
  z-index: -1;
  zoomControl: false;
  scrollWheelZoom: true;
}

#search{
  height: 56px;
  width: 56px;
  color: #4c8dff;
}

#mapSearchContainer{
  position:fixed;
  top:20px;
  right: 40px;
  height:30px;
  width:180px;
  z-index:110;
  font-size:10pt;
  color:#5d5d5d;
  border:solid 1px #bbb;
  background-color:#f8f8f8;
}

#pointer{
  position:absolute;
  top:86px;
  left:60px;
  z-index:99999;
}

.back {
  height: 30px;
  width: 30px;
  color: #4c8dff;
}

.right{
  height: 40px;
  width: 40px;
  color: #4c8dff;
}




