/* Default icon URLs */
.leaflet-default-icon-path {
  background-image: url(../../../assets/icon/marker-icon.png);
}

.leaflet-default-shadow-path {
  background-image: url(../../../assets/icon/marker-shadow.png);
}

.leaflet-default-icon2-path {
  background-image: url(../../../assets/icon/marker-icon-2x.png);
}

.leaflet-popup-content {
  width:auto !important;
} 


