<ion-content id="mapId2">
    <ion-header xmlns:slice="http://www.w3.org/1999/xhtml">
        <ion-toolbar>
                <ion-icon  slot="start" (click)="goBack()" class="back" name="arrow-dropleft"></ion-icon>
                   <ion-title class="ion-text-center">{{'MAPPA_TITOLO' | translate}}</ion-title>
            <ion-icon (click)="locatePosition()" slot="end" class="right" name="pin"></ion-icon>
            <ion-icon  (click)="research()" slot="end" class="right" name="search"></ion-icon>
        </ion-toolbar>
    </ion-header>
</ion-content>
