ion-icon {
  width: 20px;
  height: 20px;
}

.back_button{
  width:56px;
  height: 56px;
}

.avatar{
  width:30px;
  height:30px;
  margin-left: 30px;
}

.preferiti{
  width: 25px;
  height: 25px;
  color: #f00f17;
}


