<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{"SETTINGS" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profiloFormModel">
  <ion-item>
    <ion-label position="fixed">{{ 'LANGUAGE' | translate }}</ion-label>
    <ion-select formControlName="linguaPreferita" okText="{{ 'SAVE_BUTTON' | translate }} " cancelText="{{ 'CANCEL_BUTTON' | translate }}">
      <ion-select-option *ngFor="let lingua of lingue" [value]="lingua.valore">{{lingua.etichetta}}</ion-select-option>
    </ion-select>
  </ion-item>
    <div class="ion-margin-top" align="center">
      <ion-button icon-left size="medium" shape="round" color="primary" (click)="onSubmit()" [disabled]="!profiloFormModel.valid" tappable>
        {{ 'SAVE_BUTTON' | translate }}
      </ion-button>
      <ion-button icon-left size="medium" shape="round" color="primary" (click)="cancel()" tappable>
        {{ 'CANCEL_BUTTON' | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>
