<ion-header>
  <ion-toolbar >
      <ion-back-button slot="start"> <ion-icon name="arrow-dropleft" color="primary"></ion-icon> </ion-back-button>
    <ion-title class="ion-text-center">{{"SETTINGS" | translate}}</ion-title>
    <ion-button slot="end" (click)="logout()">{{'LOGOUT_MENU' | translate}}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profiloFormModel">
  <ion-item>
    <ion-label position="fixed">{{ 'LANGUAGE' | translate }}</ion-label>
    <ion-select formControlName="linguaPreferita" okText="{{ 'SAVE_BUTTON' | translate }} " cancelText="{{ 'CANCEL_BUTTON' | translate }}">
      <ion-select-option *ngFor="let lingua of lingue" [value]="lingua.valore">{{lingua.etichetta}}</ion-select-option>
    </ion-select>
  </ion-item>
    <div class="ion-margin-top" align="center">
      <ion-button icon-left size="medium" shape="round" color="primary" (click)="onSubmit()" [disabled]="!profiloFormModel.valid" tappable>
        {{ 'SAVE_BUTTON' | translate }}
      </ion-button>
      <ion-button icon-left size="medium" shape="round" color="primary" (click)="cancel()" tappable>
        {{ 'CANCEL_BUTTON' | translate }}
      </ion-button>
    </div>
  </form><br><br>

<ion-card>
    <ion-text color="primary">
      <h3 class="ion-text-center">Segnala parcheggio</h3>
    </ion-text>
  <ion-item>
    <ion-input [(ngModel)]="body" type="text" placeholder="Scrivi la descrizione del parcheggio" ></ion-input>
  </ion-item>
  <div align="center">
  <ion-button (click)="send()" shape="round">Invia</ion-button>
  </div>
</ion-card>
</ion-content>
