<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" color="primary">  </ion-back-button>
        <ion-title text-center>{{"LISTA_PARCHEGGI" | translate}}</ion-title>
        <ion-icon class="logout" name="log-out" slot="end" (click)="logout()"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let parcheggio of parcheggio$ | async" [routerLink]="['/parcheggio', parcheggio.id]"  routerDirection="forward" detail="true">
      <span>{{parcheggio.nome | slice:0:20}}</span>

    </ion-item>
  </ion-list>
</ion-content>
