<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" class="back_button" color="primary">  </ion-back-button>
        <ion-title text-center>Lista parcheggi</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let parcheggio of parcheggio$ | async" [routerLink]="['/parcheggio', parcheggio.id]"  routerDirection="forward" detail="true">
      <span>{{parcheggio.nome | slice:0:20}}</span>

    </ion-item>
  </ion-list>
</ion-content>
