<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" class="back_button" color="primary">  </ion-back-button>
    <ion-title class="ion-text-center">{{'PROFILO_TITOLO' | translate}}</ion-title>
    <ion-icon class="logout" name="log-out" slot="end" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="profiloFormModel">
  <ion-avatar class="avatar">
      <ion-img src="data:image/jpeg;base64,{{utente.immagineProfilo}}"  (click)="selectImage()"></ion-img>
    </ion-avatar>
  </form>
  <ion-text color="primary">
  <h1 class="ion-text-center"><strong> {{utente.cognome + ' ' + utente.nome}}</strong></h1>
  </ion-text>

  <ion-item-divider color="primary">
    <h4>{{"RECENSIONI_AGGIUNTE" | translate}}</h4>
  </ion-item-divider>

  <ion-list *ngFor="let recensione of recensioni$ | async">
      <ion-card class="recensioni">
        <b>{{recensione.nome}}</b>
        <ion-icon class="trash" style="float: right" name="trash" (click)="deleteRecensione(recensione)"></ion-icon>
        <ion-icon class="trash" style="float: right" name="create" (click)="updateRecensione(recensione)"></ion-icon>
        <ionic4-star-rating
          activeIcon = "star"
          defaultIcon = "star-outline"
          activeColor = "#ffce00"
          defaultColor = "#B0B0B0"
          readonly="true"
          fontSize="20px"
          rating="{{recensione.rating}}">
      </ionic4-star-rating>
    <i>{{recensione.descrizione}}</i>

    <ion-card  no-padding [routerLink]="['/parcheggio', recensione.parcheggio.id]" color="tertiary">
      <ion-card-header class="card-header">
        <ion-img class="image" src="data:image/jpeg;base64,{{recensione.parcheggio.immagineParcheggio}}" ></ion-img>
        <div >
          <h3 class="parcheggio__nome">
            {{recensione.parcheggio.nome}}
          </h3>
          <ionic4-star-rating *ngIf="(recensioni$| async) as recensioni"
                              activeIcon = "star"
                              defaultIcon = "star-outline"
                              activeColor = "#ffce00"
                              defaultColor = "#B0B0B0"
                              readonly="true"
                              fontSize="20px"
                              rating="{{averageRating(recensioni)}}">
          </ionic4-star-rating>
        </div>
      </ion-card-header>
    </ion-card>
  </ion-card>
  </ion-list>
</ion-content>
