<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" icon="arrow-dropleft"></ion-back-button>
    <ion-title text-center>{{'PROFILO_TITOLO' | translate}}</ion-title>
    <ion-button slot="end" (click)="logout()">{{'LOGOUT_MENU' | translate}}</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-avatar class="avatar">
      <img src="/assets/avatar.png">
    </ion-avatar>
  <ion-text color="primary">
  <h1 text-center><strong> {{utente.cognome + ' ' + utente.nome}}</strong></h1>
  </ion-text>
  <form [formGroup]="profiloFormModel">
    <ion-list no-lines>
      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="profiloFormModel.get('email').touched && profiloFormModel.get('email').invalid">
        <ion-text color="danger">{{ 'EMAIL_REQUIRED' | translate }}</ion-text>
      </p>
    </ion-list>
  </form>
</ion-content>
