ion-icon {
  width: 56px;
  height: 56px;}

.avatar{
  margin: auto;
}

.recensioni{
  background-color: rgba(188, 188, 188, 0.2);
  padding: 0.2rem;
}

.icon{
  width: 70px;
  height: 70px;
}

.trash{
  width: 20px;
  height: 20px;
}

