<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" icon="arrow-dropleft"></ion-back-button>
    <ion-title color="dark" class="ion-text-center">{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginFormModel" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
          <ion-icon name="contact" item-start></ion-icon>
        <ion-input placeholder="{{'USERNAME' | translate}}" color="dark" type="email" formControlName="username"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="loginFormModel.get('username').touched && loginFormModel.get('username').invalid">
        <ion-text color="danger">{{ 'USERNAME_REQUIRED' | translate }}</ion-text>
      </p>
      <ion-item no-padding class="animated fadeInUp">
          <ion-icon name="lock" item-start></ion-icon>
        <ion-input placeholder="{{'PASSWORD' | translate}}" color="dark" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="loginFormModel.get('password').touched && loginFormModel.get('password').invalid">
        <ion-text color="danger">{{ 'PASSWORD_REQUIRED' | translate }}</ion-text>
      </p>
      <div margin-top="20px" align="center">
        <ion-button  icon-left size="medium" shape="round" color="primary" (click)="onLogin()" >
          {{ 'LOGIN_BUTTON' | translate }}
        </ion-button>
        <ion-button size="medium" shape="round" color="primary" (click)="back()" tappable>
          {{ 'BACK_BUTTON_TEXT' | translate }}
        </ion-button>
        <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="registration()">
          {{ 'REGISTRATION_BUTTON' | translate }}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
