<ion-header xmlns:slice="http://www.w3.org/1999/xhtml">
  <ion-toolbar>
    <ion-back-button slot="start"> <ion-icon class="back_button" name="arrow-dropleft" color="primary"></ion-icon> </ion-back-button>
    <ion-title class="ion-text-center">{{'PREFERITI_TITOLO' | translate}}</ion-title>
    <ion-button slot="end" (click)="logout()">{{'LOGOUT_MENU' | translate}}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let preferiti of preferiti$ | async">
    <ion-item-sliding>
      <ion-item color="tertiary" [routerLink]="['/parcheggio', preferiti.parcheggio.id]">
      <ion-icon class="icon" style="float: left" name="image"></ion-icon>
        <ion-label>
          {{preferiti.parcheggio.nome}}
        </ion-label><br>
        <ionic4-star-rating style="float: right"
                            activeIcon = "star"
                            defaultIcon = "star-outline"
                            activeColor = "#ffce00"
                            defaultColor = "#B0B0B0"
                            readonly="true"
                            fontSize="20px"
                            rating="{{preferiti.parcheggio.rating}}">
        </ionic4-star-rating>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="danger">
        <ion-icon class="trash" name="trash" (click)="deletePreferito(preferiti)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
