<ion-list class="ion-no-margin ion-no-padding">
  <ion-list-header color="dark">
    <ion-label >{{"LA_TUA_POSIZIONE" | translate}}</ion-label>
  </ion-list-header>

  <ion-item (click)="maps(); close()">
    <ion-item-sliding #Visualizza_posizione >
      <ion-label> {{"VISUALIZZA_POSIZIONE" | translate}}</ion-label>
    </ion-item-sliding >
  </ion-item>

  <ion-item (click)="onLocateUser(); close()">
    <ion-item-sliding #Salva_posizione>
      <ion-label>{{"SALVA_POSIZIONE" | translate}}</ion-label>
    </ion-item-sliding >
  </ion-item>
</ion-list>
